body {
    font-family: "Gill Sans", sans-serif;
}

.form-group{
text-align: center;
}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: lightgreen;
    overflow-x: hidden;
    padding-top: 20px;
    padding-right: 8%;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 40%;
        margin-left: 50px;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 500px;
    color: black;
    font-size: 50px;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
    border-radius: 7px;
    font-size: 15px;
    width: 150px;
}
.btn-secondary{
	background-color: white;
	color:black;
}
.inp{
	background-color: lightgreen;
	border-radius: 7px;
}
